@charset "utf-8";
/* CSS Document */
* {
    font-family: "microsoft yahei", "helvetica", "heiti SC", "droid", "sans";
    word-spacing: 0px;
    letter-spacing: .02rem;
    margin: 0;
    padding: 0;
}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,select {margin: 0;padding: 0}
body {background:#fff;color:#333; font-size: 1.16667rem; line-height: normal; /* font-family: Heiti SC Light;*/}
body, html {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
i {font-style: normal;}
/* part format */
ul,ol,li {list-style:none;}
img {border:none;}
a , a:link, a:visited , a:hover, a:active{text-decoration:none;}
a:link, a:visited {color:inherit; text-decoration:none;transition: all .15s; -webkit-transition: all .15s;}
a:hover, a:active {color:inherit; text-decoration:none;transition: all .15s; -webkit-transition: all .15s;}
input,textarea,input[type=submit] { border: 0px; background-color: transparent; outline:none; -webkit-appearance:none; appearance:none;resize:none; font-size:1.16667remrem; padding: 0rem;}
select {-webkit-appearance:none; appearance:none;-moz-appearance:none}
input[type=checkbox] {-webkit-appearance:checkbox; appearance:checkbox;-moz-appearance:checkbox}
input[type=radio] {-webkit-appearance:radio; appearance:radio;-moz-appearance:radio}
h1,h2,h3,h4,h5,h6 {font-size:inherit; line-height:normal; font-weight:normal;}